.program-card-container {
  background-color: white;
  margin: 20px 0;
  padding: 20px 50px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.topic {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.learning-format {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 10px;
  text-transform: capitalize;
}

.divider {
  border: 0;
  background-color: #e0e0e0;
  height: 1px;
  width: 100%;
  box-shadow: 0 1px 0 #f1f1f1;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-seller {
  color: #cc5f4a;
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
